* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "vazir";
  src: url(./assets/fonts/vazir/Vazirmatn-VariableFont_wght.ttf);
}

@font-face {
  font-family: "lale";
  src: url(./assets/fonts/lale/Lalezar-Regular.ttf);
}

body {
  font-family: "vazir", sans-serif !important;
}
