* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "vazir";
  src: url(./assets/fonts/vazir/Vazirmatn-VariableFont_wght.ttf);
}

@font-face {
  font-family: "lale";
  src: url(./assets/fonts/lale/Lalezar-Regular.ttf);
}
:root {
  --primary-color: #531dab;
  --secoundry-color: rgb(209, 209, 209);
}
body {
  font-family: "vazir", sans-serif !important;
}
.ant-pagination-next button {
  transform: rotate(180deg);
}

.ant-pagination-prev {
  transform: rotate(180deg);
}

.container {
  width: 100%;
  overflow: hidden;
  padding: 0px 2rem;
}
@media screen and (min-width: 150px) and (max-width: 1080px) {
  .container {
    width: 100%;
    padding: 0px 2rem;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #311ebf;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

h4,
p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #391085;
}

::-webkit-scrollbar-thumb {
  background: #391085;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #391085;
}
.slick-arrow {
  color: #311ebf;
}
.ant-dropdown {
  width: 150px;
}
